# Logs
*.log
!/archives/*.log

# Dependency directories
node_modules/

# gatsby files
.cache/
public

# Mac files
.DS_Store

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Yarn Integrity file
.yarn-integrity

# Generated
/report.md
